<h1>Portfolio Iitems</h1>

<%= link_to "Create New Item", new_portfolio_url %>

<%= render partial: 'portfolio_item', collection: @portfolio_items %>

<p>
  <%= new_portfolio_path %>
</p>
<p>
  <%= new_portfolio_url %>
</p>
